{% extends 'base.html.twig' %}

{% block title %}Tous les programmes de la catégorie{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie {{ category[0].name }}</h1>
    {% for program in programs %}
        <div class="liste-series">
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}