{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Episode{% endblock %}

{% block body %}
    <div class="container-fluid season">
        <h1>Saison {{ season.number }} Episode {{ episode.number }} - {{ episode.title }}</h1>
        <h2>{{ program.title }}</h2>
        <p>{{ episode.synopsis }}</p>
        <a href="{{ path('wild_show_season', {'id': season.id}) }}">Retour à la saison</a><br>
        <a href="{{ path('wild_show', {'slug': program.title|lower|replace({' ': '-'}) }) }}">Retour à la série</a><br>
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
